
<div class="row">

  <div class="col-md-3">
<app-menu-lateral></app-menu-lateral>
  </div>

  <div class="col-md-9">

    <a [routerLink]="['anunciar']" class="btn btn-primary"> anunciar produto </a>

<div *ngFor="let produto of produtos" >

  {{ produto.nome }}

  <a [routerLink]="['anunciar/' + produto.id + '/status']" class="btn btn-sm btn-primary">alterar status</a>
  <a [routerLink]="['anunciar/' + produto.id + '/status']" class="btn btn-sm btn-primary">exibir detalhes</a>

</div>

  </div>
</div>

