<form class="ui form">
<div class="ui field">

    <label>Nome do Usuário</label>
      <input class="ui input">
</div>

<div>Escolha os grupos aos quais o novo usuário fará parte. Defina com cuidado as permissões de acesso do novo usuário</div>

<div class="ui grid">

    <div class="four wide column">

        <div> <input type="checkbox"> gerente  </div>
        <div>

            <div> <input type="checkbox">  cadastrar/editar/deletar produtos  </div>
            <div> <input type="checkbox">  anunciar produto em marketplace  </div>
            <div> <input type="checkbox">  responder perguntas  </div>
            <div> <input type="checkbox">  ver estatísticas  </div>
            <div> <input type="checkbox">  ver log do sistema  </div>
            <div> <input type="checkbox">  criar/editar/deletar usuários  </div>


        </div>

    </div>

    <div class="four wide column">
2
    </div>

    <div class="four wide column">
3
    </div>

    <div class="four wide column">
4
    </div>

</div>


<button class="ui primary button">  cadastrar novo usuário</button>

</form>