<footer>
    <div>A-Z Marketplaces &copy; {{ ano }} </div>

    <div class="ui relaxed grid">

        <div class="four wide column">
            <div>contato</div>

            <div>Telefone (16)3724-4711</div>
            <div>E-Mail suporte@azmarketplaces.com.br</div>

        </div>

        <div class="four wide column">
            
            

        </div>

        <div class="four wide column">
3
        </div>

        <div class="four wide column">
4
        </div>

    </div>

  </footer>