<div class="row">
  <div class="col-md-3">
<img class="img-fluid" src="/assets/logo.png">

</div>

<div class="col-md-3">
  
  <i class="fa fa-commenting-o" aria-hidden="true"></i>

</div>


<div class="col-md-6">
  <span>
  <i style="font-size:30px" class="fas fa-comment-dots"></i>
  <hr>
  <span class="badge badge-danger">500</span>
</span>

<i class="fas fa-bell"></i>
</div>
<!--<div class="text-center p-3">
    MARKETPLACES
</div>
<div class="row">
  <div class="col-md-3">
<app-menu-lateral></app-menu-lateral>
  </div>


<div class="col-md-9">
<router-outlet></router-outlet>
</div>
</div>-->

<router-outlet></router-outlet>

<app-rodape></app-rodape>
