
<div class="row">

  <div class="col-md-2">
    <app-menu-lateral></app-menu-lateral>
      </div>

      <div class="col-md-10">

  <div>



      <form class="row"  [formGroup]="frmProduto" (submit)="criarProduto()">

       <div class="col-6">
        <label>Nome do produto</label>
        <input class="form-control" formControlName="nome" name="nome" >
      </div>

      <div class="col-3">
        <label>marca</label>
        <select class="form-control" formControlName="marca" name="marca">
           <option *ngFor="let marca of marcas">{{ marca.nome }} </option> 
        </select>
      </div>

      
     
      
      
        <div class="col-3">
          <label>categoria</label>
          <select class="form-control" formControlName="categoria" name="categoria">
            <option> selecione... </option>
          </select>
        </div>
      
        
        <div class="col-3">
          <label>SKU</label>
          <input class="form-control" formControlName="sku" name="sku">
         </div>
      
         <div class="col-3">
          <label>EAN</label>
          <input class="form-control" formControlName="ean" name="ean">
         </div>
      
         
        <div class="col-3">
          <label>GTIN/EAN</label>
          <input class="form-control" formControlName="gtin" name="gtin">
         </div>
      
         
        <div class="col-3">
          <label>MPN</label>
          <input class="form-control" formControlName="mpn" name="mpn">
         </div>
         
        <div class="col-3">
          <label>NCM</label>
          <input class="form-control" formControlName="ncm" name="ncm">
         </div>
      
        <div class="col-3">
        <label>tempo de garantia (em meses) </label>
        <input class="form-control" formControlName="tempoGarantia" name="tempoGarantia" >
        </div>

        <div class="col-3">
          <label>estado do produto</label>
          <select class="form-control" formControlName="estado" name="estado">
              <option value="1" >novo</option>
              <option value="2">usado</option>
              <option value="3" >não especificado</option>
          </select>
         </div>

         <div class="col-3">
          <label>estoque</label>
          <input class="form-control" formControlName="estoque" name="estoque">
          </div>

          
      <div class="col-3">
        <label>Peso</label>
        <input class="form-control" formControlName="peso" name="peso">
      </div>
    
      <div  class="col-3">
        <label>altura</label>
        <input class="form-control" formControlName="altura" name="altura">
      </div>
    
      <div  class="col-3">
        <label>largura</label>
        <input class="form-control" formControlName="largura" name="largura">
      </div>
    
      <div  class="col-3">
        <label>comprimento</label>
        <input class="form-control" formControlName="comprimento" name="comprimento">
      </div>
      
        <div class="col-6">
         <label>preço</label>
         <input class="form-control" formControlName="preco" name="preco">
        </div>
      
        <div class="col-6">
          <label>vídeo (youtube)</label>
          <input class="form-control" formControlName="video" name="video">
        </div>
  


      <div>
        <label>descrição</label>
        <textarea class="form-control" formControlName="descricao" name="descricao"></textarea>
      </div>

  
   

      <div>
        Adicione as fotos do modelo que você considera mais padrão
      </div>

         <div>
          <div> adicionar fotos </div>
          <input id="file"  (change)="handleFileInput(-1, 0, $event.target.files)" style="display:none" type="file" multiple="multiple">
          <div (click)="openFile()"> <i class="plus icon"></i> plus</div>
         </div>

         <div>
                             
         </div>

        

        </form>
     
        <div *ngIf="!atributosForamDefinidos">

        <div>Se o produto tem variações, selecione o conjunto de atributos.</div>
        <div>
          <select #selectAtriutosVariacao>
            <option value="1">Cor</option>
            <option value="2">Tamanho (ex P, M, G)</option>
            <option value="numero">Numero (1, 2, 3)</option>
            <option value="voltagem">Voltagem</option>

          </select>

          <div>
             <div *ngFor="let atributoSelecionado of atributosSelecionadosVariacao">
                 {{ atributoSelecionado }}
             </div>
          </div>

          <button (click)="selecionarAtributo(selectAtriutosVariacao.value)" class="btn btn-primary">Incluir atributo</button>
        </div>

        <div>
          <button (click)="esconderFrmEscolhaAtributoMostrarFrmVariacoes()" class="btn btn-primary">adicionar variações</button>
        </div>
        </div>
        <div *ngIf="atributosForamDefinidos">
        <h1>Variações</h1>

        <form [formGroup]="frmVariacoes">

                 
          <div formArrayName="variacoes">
            <div *ngFor="let item of variacoes.controls; let pointIndex=index" [formGroupName]="pointIndex">
            <label>
              SKU: <input formControlName="sku" />
            </label>
            

            <div *ngFor="let atributoSelecionado of atributosSelecionadosVariacao; let i = index">

                <label>{{ atributoSelecionado }}</label>
                <select>
                  <option *ngFor="let atributo of atributos[i]">{{ atributo.nomeAtributo }}</option>
                </select>

            </div>

         <div>
            <input type="file" (change)="handleFileInput(pointIndex, 1, $event.target.files)" formControlName="imagem1" />
            <input type="file" (change)="handleFileInput(pointIndex, 2,  $event.target.files)" formControlName="imagem2" />
            <input type="file" (change)="handleFileInput(pointIndex, 3, $event.target.files)" formControlName="imagem3" />
            <input type="file" (change)="handleFileInput(pointIndex, 4,  $event.target.files)" formControlName="imagem4" />
          </div>
            <button type="button" (click)="deleteSellingPoint(pointIndex)">Remover</button>
            </div>
            <button type="button" (click)="addSellingPoint()">Adicionar</button>
          </div>
        
        </form>
        
        {{ this.frmVariacoes.value | json }}
        
        <div>
            <button (click)="exibirFormularioNovaVariacao()" class="btn btn-primary">adicionar variação <i class="plus icon"></i></button>
        </div>
        </div>

    </div>

    <div>
      <button type="submit">cadastrar produto</button>
    </div>
   
   
  





 




  </div>





  </div>



