
<div>

  <div>gerenciamento de estoque</div>
  <div>
   <a [routerLink]="['/produtos']">  <div>  <i class="fas fa-tag"></i> </div>  produtos</a>
  </div>


  <div>
    <a [routerLink]="['/respostas automáticas']">  <div>  <i class="fas fa-tag"></i> </div>  respostas automáticas</a>
   </div>

  <div>
    <a  [routerLink]="['/marketplaces']" > <i class="fab fa-hubspot"></i> marketplaces</a>
  </div>


  <div>
    <a [routerLink]="['/anuncios']" > <i class="fas fa-window-restore"></i> anúncios</a>
  </div>

  <div>
    <a [routerLink]="['/perguntas']" >  <i class="fas fa-headset"></i> perguntas</a>

    <div class="badge badge-danger" >199</div>
  </div>

  <div>
    <a [routerLink]="['/usuarios']" >  <i class="fas fa-users"></i> usuários</a>

  </div>

  <div>
    <a [routerLink]="['/pedidos']" >  <i class="fas fa-truck-moving"></i> pedidos</a>

  </div>

  <div>
    <a [routerLink]="['/estatistica']" >  <i class="fas fa-chart-line"></i> estatística</a>

  </div>

  <div>
    <a [routerLink]="['/planos']" > A-Z planos</a>

  </div>





</div>




