<div class="row">

    <div class="col-md-3">
  <app-menu-lateral></app-menu-lateral>
    </div>
  
    <div class="col-md-9">

<a [routerLink]="['/contas/adicionar']" class="btn btn-primary"> adicionar nova conta </a>

<a [routerLink]="['/contas/gerenciar']" class="btn btn-primary"> gerenciar  </a>


<h1>Marketplaces</h1>
<h3>Confira aqui, os marketplaces que você está cadastrado.</h3>

<div class="row">

    <div class="col-md-2">
      <img class="img-fluid" src="/assets/ml-logo.png">
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>

</div>


</div>

